h1 {
    color: red;
    text-align: center;
}
p {
    color: rgb(192, 192, 72);
    text-align: center;
    font-variant: initial;
    font-size: 50px;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
}
@media (min-width: 319px) and (max-width: 480px) {
    body {
        background: yellow;
    }
}
@media (min-width: 481px) and (max-width: 1200px) {
    body {
        background: chocolate;
    }
}
@media (min-width: 1201px) and (max-width: 1600px) {
    body {
        background: green;
    }
}
@media (min-width: 1601px) {
    body {
        background: purple;
    }
}
